{% extends "layout.html" %}
{% block content %}
<form action="/cities/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldName">Asset</label>
            <input id="fldName" type="text" class="form-control" placeholder="Asset" name="fldName">
        </div>
        <div class="col">
            <label for="fldAbbreviation">Durability</label>
            <input id="fldAbbreviation" t ype="text" class="form-control" placeholder="Durability"
                   name="fldAbbreviation">
        </div>
        <div class="col">
            <label for="fldCountry">Strength</label>
            <input id="fldCountry" type="text" class="form-control" placeholder="Strength" name="fldCountry">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldLat">Intelligence</label>
            <input id="fldLat" type="text" class="form-control" placeholder="Intelligence" name="fldLat">
        </div>
        <div class="col">
            <label for="fldlong">Strength</label>
            <input id="fldlong" type="text" class="form-control" placeholder="Strength" name="fldLong">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldCapitalStatus">Power</label>

            <input id="fldCapitalStatus" type="text" class="form-control" placeholder="Power "
                   name="fldCapitalStatus">
        </div>
        <div class="col">
            <label for="fldPopulation">Combat</label>
            <input id="fldPopulation" type="text" class="form-control" placeholder="Combat" name="fldPopulation">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}